<!-- <button (click)="onCall()">Call Api</button> -->

<section class="welcome">
  <h2>🏡 Welcome to Your Investment Tracker App! 📈</h2>
  <p>Step into the heart of financial empowerment with our Investment Tracker App!</p>
  <p> Your journey towards financial growth and prosperity begins right here. Whether you're diving into the dynamic world of cryptocurrencies or exploring the ever-changing stock market, we've got you covered.</p>
</section>
<section class="user-stats">
  <div class="crypto-stats">
    <h3>🌐  Crypto Investments</h3>
    <span>Information About Crypto investment. Suggestion and other thinks how to invest better.</span>
  </div>
  <div class="asset-stats">
    <h3>📈 Asset Investments</h3>
    <span>Visualization of asset price and crypto and etc. Schemas and others !</span>
  </div>
</section>

<footer class="p-2 text-center hover:text-indigo-300">
  📊 For now, we are supporting <strong>crypto</strong> and <strong>stock</strong> tracking of investments, ensuring you have a centralized hub for all your financial endeavors.
</footer>
