<div class="charts" *ngIf="!(this.isLoading$ | async)">

  <crypto-doughnut-chart *ngIf="this.chartData != null" chartName="Sum Price"
                         [data]="this.chartData"></crypto-doughnut-chart>
  <!--  <div class="chart-container" style="position: relative; height:50vh; width:80vw">-->
  <!--    <canvas id='MyChart1'>{{chart1}}</canvas>-->
  <!--  </div>-->
</div>
<div class="wrapper">
  <div class="mat-elevation-z8">
    <button class="filter-btn" (click)="showFilters()">Filter</button>
    <ng-container *ngIf="areFilterShown">
      <ng-container [ngTemplateOutlet]="applyFilter"></ng-container>
    </ng-container>

    <ng-template #applyFilter>
      <form [formGroup]="filterForm" (ngSubmit)="onSubmitFilters()" class="mat-form-field-wrapper form">
        <div>
          <mat-label>Add a filter option</mat-label>
          <mat-select class="mat-select-panel" [(value)]="selectedColumn">
            <mat-option *ngFor="let column of filterColumns" (click)="AddInput(column)"
                        [value]="column.value">{{ column.value }}</mat-option>
          </mat-select>
        </div>
        <div formArrayName="filters" class="example-full-width">
          <div class="input-items" *ngFor="let filter of filterForm.controls.filters.controls; let i = index">
            <mat-label>{{this.labels[i]}}</mat-label>
            <input type="text" class="mat-form-field" [formControlName]="i"/>
            <a class="anchor-hover-effect" (click)="removeInput(i)">X</a>
          </div>
        </div>
        <div>
          <button type="submit" class="mat-flat-button show-result-btn">Show Result</button>
        </div>
      </form>
    </ng-template>
    <ng-container *ngIf="!(this.isLoading$ | async)">
      <table mat-table matSort [dataSource]="this.dataSource">
        <!-- Position Column -->
        <ng-container matColumnDef="investmentName">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>Investment Name</th>
          <td mat-cell *matCellDef="let investment"> {{investment.investmentName}} </td>
        </ng-container>

        <ng-container matColumnDef="symbol">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>Symbol</th>
          <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
        </ng-container>

        <ng-container matColumnDef="quantity">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>Quantity</th>
          <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
        </ng-container>

        <ng-container matColumnDef="purchasePrice">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>Purchase Price</th>
          <td mat-cell
              *matCellDef="let element"> {{element.purchasePrice}} {{element.currency | currencyToSymbol}} </td>
        </ng-container>

        <ng-container matColumnDef="investmentType">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>Investment Type</th>
          <td mat-cell *matCellDef="let element"> {{element.investmentType | investmentTypeToName}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="redirectToDetailsPage(element.id)">Details</button>
              <button mat-menu-item (click)="onEdit(element.id)">Edit</button>
              <button mat-menu-item (click)="onDelete(element.id)">Delete</button>
            </mat-menu>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </ng-container>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>

  </div>

</div>
