.navbar {
  background-color: #333; /* Dark background color */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo a {
  color: #ffcc00; /* Yellow text color */
  font-size: 24px;
  text-decoration: none;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  color: #fff; /* White text color */
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.nav-links li a:hover {
  color: #ffcc00; /* Yellow text color on hover */
}

.active{
  background-color: #e67e22;
}
