<nav class="navbar">
  <div class="logo">
    <a routerLink="/">TR INV</a>
  </div>
  <ul class="nav-links">
    <li><a routerLinkActive="active" routerLink="/" [routerLinkActiveOptions]="{ exact: true }">List</a></li>
    <li><a routerLinkActive="active" routerLink="/create">Add New Investment</a></li>
    <div *ngIf="this.user == null">
      <li><a routerLinkActive="active" routerLink="/login">Login</a></li>
      <li><a routerLinkActive="active" routerLink="/register">Register</a></li>
    </div>
    <div *ngIf="this.user != null">
      <li><a>Welcome {{this.user.username}}</a></li>
      <li><a (click)="onLogout()">Logout</a></li>
    </div>
  </ul>
</nav>
