@use "src/styles/colors";

.investment-select {
  width: 95%;
}

.ellipsis {
  display: inline-block;
  vertical-align: middle;
  bottom: 20px;
}

img {
  max-width: 24px;
  max-height: 24px;
  margin-right: 5px;
}

.labelStyle {
  color: #333;
  font-weight: bold;
  display: block;
}

.readonly {
  margin: 0.175rem 0;
  display: inline-block;
  overflow: hidden;
  gap: 0.25rem;
  border: 0.0625rem solid colors.$charcoal-grey;
  padding: 0.375rem 0.5rem;
  border-radius: 0.25rem;
  background: colors.$main-color-yellow;
}
