<div class="wrapper">
  <div class="container">
    <h1>
      {{ this.investmentType == 1 ? "crypto" : "stock" }}
      {{ this.id === undefined ? "Add New Investment" : "Update Investment" }}
    </h1>
    <form [formGroup]="addUpdateForm" (ngSubmit)="onSubmit()">
      <mat-form-field
        *ngIf="this.investmentType === 0"
        class="investment-select"
      >
        <mat-label>Investment Name</mat-label>
        <mat-select formControlName="assetId">
          <mat-option
            *ngFor="let stock of this.stocks | async"
            [value]="stock.symbol"
          >
            <!-- <img
              alt="img"
              src="https://assets.coincap.io/assets/icons/{{
                stock.symbol.toLowerCase()
              }}@2x.png"
            /> -->
            <div class="ellipsis">
              <p style="font-size: 0.8em; opacity: 0.7">
                {{ stock.name }} ({{ stock.symbol }})
              </p>
            </div>
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field
        *ngIf="this.investmentType === 1"
        class="investment-select"
      >
        <mat-label>Investment Name</mat-label>
        <mat-select formControlName="assetId">
          <mat-option *ngFor="let coin of this.coins | async" [value]="coin.id">
            <img
              alt="img"
              src="https://assets.coincap.io/assets/icons/{{
                coin.symbol.toLowerCase()
              }}@2x.png"
            />
            <div class="ellipsis">
              <p style="font-size: 0.8em; opacity: 0.7">
                {{ coin.name }} ({{ coin.symbol }})
              </p>
            </div>
          </mat-option>
        </mat-select>
      </mat-form-field>

      <label class="labelStyle" for="quantity">Quantity</label>
      <input type="number" id="quantity" formControlName="quantity" required />

      <label class="labelStyle" for="purchasePrice">Purchase Price</label>
      <input
        type="number"
        step="0.01"
        id="purchasePrice"
        formControlName="purchasePrice"
        required
      />

      <button type="submit">
        {{ this.id === undefined ? "Add Investment" : "Update Investment" }}
      </button>
    </form>
  </div>
</div>


<!-- 
<ng-container>
  <common-investment-selector [type]="this.investmentType">

  </common-investment-selector>
</ng-container>

implement the CommonInvestmentSelectorComponent



 -->
