<div class="wrapper">
  <div class="container">
    <h1>
      {{ this.investmentType == 1 ? "crypto" : "stock" }}
      {{ this.id === undefined ? "Add New Investment" : "Update Investment" }}
    </h1>
    <form [formGroup]="addUpdateForm" (ngSubmit)="onSubmit()">
      <common-investment-selector
        [selectedAsset]="this.selectedAsset"
        (initAssetCollectionEvent)="setCollection($event)"
        [investmentType]="this.investmentType"
      >
      </common-investment-selector>

      <label class="labelStyle" for="quantity">Quantity</label>
      <input type="number" id="quantity" formControlName="quantity" required />

      <label class="labelStyle" for="purchasePrice">Purchase Price</label>
      <input
        type="number"
        step="0.01"
        id="purchasePrice"
        formControlName="purchasePrice"
        required
      />

      <button type="submit">
        {{ this.id === undefined ? "Add Investment" : "Update Investment" }}
      </button>
    </form>
  </div>
</div>
