@use "src/styles/colors";

.container {
  position: relative;
  display: inline-block;
}
.container:hover .hidden-buttons {
  display: block;
}

.hidden-buttons {
  display: none;
  position: absolute;
  top: 100%;
  right: 8.5%;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  white-space: nowrap;
}

.hidden-buttons a {
  display: inline-block;
  margin-right: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #A997DF;
  color: #fff;
}

.navbar {
  background-color: colors.$charcoal-grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.size {
  position: relative;
  width: 40px;
  height: 25px;
  bottom: 6px;
  right: 5px;
}

.mat-container {
  display: inline;
  background-color: black;
}
.mat-drawer-container {
  background-color: transparent;
}
.mat-drawer {
  position: fixed;
  top: 2.82rem;
}

.logo a {
  color: colors.$main-color-yellow;
  font-size: 24px;
  text-decoration: none;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition-duration: 0.5s;
}

.nav-links li a:hover {
  color: colors.$main-color-yellow;
}

.active {
  color: colors.$main-color-yellow;
}

.icon:hover {
  color: colors.$main-color-yellow;
  transition-duration: 0.5s;
}
