.index{
  position: relative;
  z-index: 0;
}
.example-action-buttons {
  padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: end;
  align-items: center;
}

.example-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}
.mat-accordion .mat-expansion-panel{
  max-width: 25rem;
}
