<div class="w-3/5 lg:w-8/12 px-4 m-10">
  <div class="flex flex-col w-full mb-6 shadow-lg rounded-lg border border-2 border-gray-200">

    <div class="flex-auto px-6 lg:px-10 py-10 pt-0 mt-5">
      <form><h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase"> User Information </h6>
        <div class="flex flex-wrap">
          <div class="w-full lg:w-6/12 px-4">
            <div class="relative w-full mb-3"><label htmlfor="grid-password"
                                                     class="block uppercase text-blueGray-600 text-xs font-bold mb-2">
              Username </label><input type="text" value="lucky.jesse"
                                      class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150">
            </div>
          </div>
          <div class="w-full lg:w-6/12 px-4">
            <div class="relative w-full mb-3"><label htmlfor="grid-password"
                                                     class="block uppercase text-blueGray-600 text-xs font-bold mb-2">
              Email address </label><input type="email" value="jesse@example.com"
                                           class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150">
            </div>
          </div>
          <div class="w-full lg:w-6/12 px-4">
            <div class="relative w-full mb-3"><label htmlfor="grid-password"
                                                     class="block uppercase text-blueGray-600 text-xs font-bold mb-2">
              First Name </label><input type="text" value="Lucky"
                                        class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150">
            </div>
          </div>
          <div class="w-full lg:w-6/12 px-4">
            <div class="relative w-full mb-3"><label htmlfor="grid-password"
                                                     class="block uppercase text-blueGray-600 text-xs font-bold mb-2">
              Last Name </label><input type="text" value="Jesse"
                                       class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150">
            </div>
          </div>
        </div>
        <hr class="mt-6 border-b-1 border-blueGray-300">
        <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase"> Contact Information </h6>
        <div class="flex flex-wrap">
          <div class="w-full lg:w-12/12 px-4">
            <div class="relative w-full mb-3"><label htmlfor="grid-password"
                                                     class="block uppercase text-blueGray-600 text-xs font-bold mb-2">
              Address </label><input type="text" value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09"
                                     class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150">
            </div>
          </div>
          <div class="w-full lg:w-4/12 px-4">
            <div class="relative w-full mb-3"><label htmlfor="grid-password"
                                                     class="block uppercase text-blueGray-600 text-xs font-bold mb-2">
              City </label><input type="email" value="New York"
                                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150">
            </div>
          </div>
          <div class="w-full lg:w-4/12 px-4">
            <div class="relative w-full mb-3"><label htmlfor="grid-password"
                                                     class="block uppercase text-blueGray-600 text-xs font-bold mb-2">
              Country </label><input type="text" value="United States"
                                     class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150">
            </div>
          </div>
          <div class="w-full lg:w-4/12 px-4">
            <div class="relative w-full mb-3"><label htmlfor="grid-password"
                                                     class="block uppercase text-blueGray-600 text-xs font-bold mb-2">
              Postal Code </label><input type="text" value="Postal Code"
                                         class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150">
            </div>
          </div>
        </div>
        <hr class="mt-6 border-b-1 border-blueGray-300">
        <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase"> About Me </h6>
        <div class="flex flex-wrap">
          <div class="w-full lg:w-12/12 px-4">
            <div class="relative w-full mb-3"><label htmlfor="grid-password"
                                                     class="block uppercase text-blueGray-600 text-xs font-bold mb-2">
              About me </label><textarea type="text" rows="4"
                                         class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150">                  A beautiful UI Kit and Admin for Angular &amp; Tailwind CSS. It is Free
                  and Open Source.
                </textarea></div>
          </div>
        </div>
      </form>
    </div>

    <div class="container mx-auto w-11/12 xl:w-full">
      <div class="w-full py-4 sm:px-0 bg-white dark:bg-gray-800 flex justify-end">
        <button role="button" aria-label="cancel form"
                class="bg-gray-200 focus:outline-none transition duration-150 ease-in-out hover:bg-gray-300 dark:bg-gray-700 rounded text-indigo-600 dark:text-indigo-600 px-6 py-2 text-xs mr-4 focus:ring-2 focus:ring-offset-2 focus:ring-gray-700">
          Cancel
        </button>
        <button role="button" aria-label="Save form"
                class="focus:ring-2 focus:ring-offset-2 focus:ring-indigo-700 bg-indigo-700 focus:outline-none transition duration-150 ease-in-out hover:bg-indigo-600 rounded text-white px-8 py-2 text-sm"
                type="submit">Save
        </button>
      </div>
    </div>
  </div>

</div>
