.custom-text {
  width: 40rem;
}

.errorBorder{
  border: 1px solid red !important;
}

.disabledButton{
  border: 1px solid black;
  background-color: grey;
  color: white;
  padding: 15px;
  cursor: not-allowed;
  touch-action: none;
}