<!--Example table https://tailwindcomponents.com/component/table-ui-with-tailwindcss-and-alpinejs-->


<!--<button mat-raised-button (click)="addColumn()"> Add column</button>-->
<!--<button mat-raised-button (click)="removeColumn()"> Remove column</button>-->

<div class="wrapper">
  <div class="table">

    <div class=" mb-4 flex justify-between items-center ">

      <div class="flex-1 pr-4">
        <div class="relative md:w-1/3">
          <input type="search"
                 class="w-full pl-10 pr-4 py-2 rounded-lg shadow focus:outline-none focus:shadow-outline text-gray-600 font-medium"
                 placeholder="Search...">
          <div class="absolute top-0 left-0 inline-flex items-center p-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-gray-400" viewBox="0 0 24 24"
                 stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                 stroke-linejoin="round">
              <rect x="0" y="0" width="24" height="24" stroke="none"></rect>
              <circle cx="10" cy="10" r="7"/>
              <line x1="21" y1="21" x2="15" y2="15"/>
            </svg>
          </div>
        </div>
      </div>
      <div>
        <div
          class="rounded-lg inline-flex items-center bg-white hover:text-blue-500 focus:outline-none focus:shadow-outline text-gray-500 font-semibold py-2 px-2 md:px-4">
          <div class="relative">
            <mat-form-field class="">
              <mat-label>Columns</mat-label>
              <mat-select [formControl]="toppings" multiple>
                <mat-select-trigger>
                  {{toppings.value?.[0] || ''}}
                  <span *ngIf="(toppings.value?.length || 0) > 1" class="example-additional-selection">
        (+{{(toppings.value?.length || 0) - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
      </span>
                </mat-select-trigger>
                <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
              </mat-select>
            </mat-form-field>

          </div>
        </div>
      </div>
    </div>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="this.data" >
        <ng-container *ngFor="let columnName of displayedColumns; index as columnIndex;" [matColumnDef]="columnName">
          <th class=" sticky top-0 text-gray-600 font-bold uppercase text-xs"
              mat-header-cell *matHeaderCellDef> {{columnName}} </th>
          <td mat-cell *matCellDef="let element"> {{element[columnName]}} </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    <mat-paginator [pageSizeOptions]="[5, 10]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
    </div>

  </div>
</div>
