<div class="wrapper">
  <div class="investment-details">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Investment Details</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div *ngIf="this.investment" class="details">
          <div class="detail-row">
            <div class="label">Asset Id:</div>
            <div class="value">{{ investment.assetId }}</div>
          </div>
          <div class="detail-row">
            <div class="label">Name:</div>
            <div class="value">{{ investment.name }}</div>
          </div>
          <div class="detail-row">
            <div class="label">Quantity:</div>
            <div class="value">{{ investment.quantity }}</div>
          </div>
          <div class="detail-row">
            <div class="label">Purchase Price:</div>
            <div class="value">{{ investment.purchasePrice }}$</div>
          </div>
          <div class="detail-row">
            <div class="label">Purchase Price Per Unit:</div>
            <div class="value">{{ investment.purchasePricePerUnit }}$</div>
          </div>
          <div class="detail-row">
            <div class="label">Investment Type:</div>
            <div class="value">{{ investment.investmentType | investmentTypeToName}}</div>
          </div>
             <div class="detail-row">
            <div class="label">Created On:</div>
            <div class="value">{{ investment.createdOn}}</div>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-stroked-button color="primary" (click)="this.onBackClicked()">Back</button>
        <button mat-stroked-button color="accent" (click)="this.onEditClicked()">Edit</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
