<section class="welcome">
  <h2>Welcome to your Tracking Investment App</h2>
  <p>Track your crypto and asset investments here.</p>
</section>
<section class="user-stats">
  <div class="crypto-stats">
    <h3>Crypto Investments</h3>
    <span>Information About Crypto investment. Suggestion and other thinks how to invest better.</span>
  </div>
  <div class="asset-stats">
    <h3>Asset Investments</h3>
    <span>Visualization of asset price and crypto and etc. Schemas and others !</span>
  </div>
</section>
