<table class="">
  <thead>
  <tr class="center aligned">
    <th class="center aligned">Rank</th>
    <th class="left aligned">Name</th>
    <th class="right aligned">Price</th>
    <th class="right aligned xs-hidden">Market Cap</th>
    <th class="right aligned xs-hidden tablet-hidden"><span>VWAP (24Hr)</span></th>
    <th class="right aligned xs-hidden tablet-hidden">Supply</th>
    <th class="right aligned xs-hidden">Volume (24Hr)</th>
    <th class="right aligned xs-hidden">Change (24Hr)</th>
  </tr>
  </thead>
  <tbody>
  <!-- Table rows with data go here -->
  <tr class="center aligned">
    <td class="center aligned ">1</td>
    <td class="left aligned">
      <img src="https://assets.coincap.io/assets/icons/btc@2x.png"
           class="AssetLogo__ImageStyled-sc-1m18p9x-0 itlbLb ui mini right spaced middle aligned image">
      <div class="ellipsis" style="display: inline-block; vertical-align: middle;">
        <a href="/assets/bitcoin">Bitcoin
          <p style="font-size: 0.8em; opacity: 0.7;">BTC</p>
        </a>
      </div>
    </td>
    <td class="right aligned">
      <span class="Numeral__Container-sc-18j7kzw-0 jbOTGs numeral ">$26,400.90</span>
    </td>
    <td class="right aligned xs-hidden">
      <span class="Numeral__Container-sc-18j7kzw-0 jbOTGs numeral ">$514.40b</span>
    </td>
    <td class="right aligned xs-hidden tablet-hidden">
      <span class="Numeral__Container-sc-18j7kzw-0 jbOTGs numeral ">$26,408.61</span>
    </td>
    <td class="right aligned xs-hidden tablet-hidden">
      <span class="Numeral__Container-sc-18j7kzw-0 jbOTGs numeral ">19.49m</span>
    </td>
    <td class="right aligned xs-hidden">
      <span class="Numeral__Container-sc-18j7kzw-0 jbOTGs numeral ">$3.70b</span>
    </td>
    <td class="right aligned xs-hidden">
      <span class="">0.52%</span>
    </td>
  </tr>
  </tbody>
</table>
