@model TRINV.IdentityServer.Models.Errors.ServerErrorViewModel

<div class="form">
	<div class="lead">
		<h2 class="header">Error</h2>
	</div>

	<div class="row">
		<div class="col-sm-6 u-margin-top-small">
			<div class="alert-message-container warning">
				<div class="alert-message-title">Server error</div>
				<div class="alert-message-text">@Model.ExceptionMessage</div>
			</div>
		</div>
	</div>
</div>
